*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}
.parent_The_Serin{
    display:flex;
    justify-content: center;
    margin: 20px 0px 10px 0px;
   
   
}
.the{
    transform: rotate(-90deg);
    font-size: 25px;
    font-style: oblique;
    font-weight: 600;
}
.serin{
    font-size: 40px;
    font-style: oblique;
    font-weight: 800;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border:2px solid black ;
    height: 80px;
    font-size: 20px;
    font-weight: 700;
    background-color:rgb(49, 157, 193);
}
a{
    text-decoration: none;
}
.bollywood_Parent{
    display: flex;
    justify-content: space-around;
}

.hollywood_Parent{
    display: flex;
    justify-content: space-around;
}

.technology_Parent{
    display: flex;
    justify-content: space-around;
}
.fitnessData{
    display: flex;
    justify-content: space-around;
}

.foodData{
    display: flex;
    justify-content: space-around;
}



.call_1{
    width: 650px;
}

    .top_h1{
        margin:60px 0px 50px 0px ;

    }
    .hr{
        width: 75px;
        height: 5px;
        background-color: red;
    }

.childcompo{
  
   
    border-bottom: 2px solid #ababab;
    height: 175px;
    width: 730px;
    margin-top: 10px;
    position: relative;

    
}

.titlediv{
    position: absolute;
    left: 320px;
   
    font-weight: 700;
}

.p1{

    width: 370px;
    height: 30px;
    position: absolute;
    top: 40px;
    left: 320px;
    text-align:start;
}




.call_2{
      
    width: 450px;
}

.right_title{
    position: absolute;
    left: 38%;
}
.right_description{
   
    width: 170px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
   left: 140px;
   top: 50px;
 

}
.left_Div{
    border-bottom:2px solid  #ababab;
    width: 430px;
    height: 120px;
   
}


.top_Post{
    position:absolute;
    font-size: 32px;
    font-weight: bold;
    right:365px;
    top: 136px;

    
}
.latest_post2{
   
    font-size: 14px;
    width:320px;
    text-align:start;
    font-weight: bold;

}
.advertisement{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border:2px solid black ;
    margin-top: 10px;
    width:335px;
    height: 480px;
    position: absolute;
   
}
.count{
    position:absolute;
    color:  #ababab;
    font-size: 40px;
    top: -10px;
    right: -30px;
    margin-left: 5px;
}
.one{
    display: inline-block;
    color:  #ababab;
    font-size: 40px;
    position:absolute;
    right: 216px;
    top: 540px;

}
.homeone{
    display: inline-block;
    color:  #ababab;
    font-size: 40px;
    position:absolute;
    right: 180px;
}
.des_Flex{
    display: flex;
}



.navlink{
    text-decoration: none;
    color: black;
}

.home_Header{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.home_Header2{
    display: flex;
    flex-direction: column;
}
.home_flex{
    display: flex;
    justify-content:space-around;
    
}
.the_Latest{

    position:absolute;
    bottom: -100px;
    left:75px;
    font-size: 23px;
}

.home_body{
   
    width: 350px;
    margin-top: 160px;
    
   
}
.home_body_img{
    height: 280px;
}

.home_Title{
    
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  

}
.home_H2{
    position: absolute;
    bottom:-670px; 

    left: 120px;
    font-size: 30px;
    
}
.home_description{

    text-align: center;
}
.home_flex2{
    position: relative;
    margin-top: 150px;
    display: flex;
    justify-content:space-around;

}
.home_top_post{
    position: absolute;
    font-size: 30px;
    bottom:-670px;
   right:300px;
}
.home_img{
    
    height: 170px;
}
/* styling for dynamic compo */


.parent_Of_dynamic{
  
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}


.title_for_dynamic{
 margin-top: 30px;
  width: 470px;
  font-weight: 900;
}
.image_for_dynamic{
width: 450px;

}
.description_for_dynamic{
 
    width: 450px;
    font-weight: 600;
    margin-left: 10px;
}
.sticker_parent{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sticker{
   position: relative;
   right: 120px;
   font-size: 50px;
   background-color:rgb(253, 149, 22) ;
   border-radius: 50%;
   margin: 20px 0px 20px 100px;
}
.name_surname-parent{
    position: relative;
   right: 120px;
   font-size: 20px;
   font-weight: 600;
}
.date{
    font-size: 13px;
    opacity: 0.5;
    margin-left: 20px;
}

.dynamic_Related_Footer{
   
    display: flex;
    justify-content: space-evenly;
    align-items:flex-starts;
    margin-top: 5%;
}
.dynamic_Subchild{
    width: 380px;
   
}
.title_for_dynamic2{
    width: 300px;
    font-weight: 700;
    
}

.dynamicSpan{
    margin-left: 100px;
    font-size: 20px;
    font-weight: 700;
}
.image_for_dynamic2{
    width: 370px;
    height: 230px;
    border-radius: 15px;
}
.d1img{
    width: 30px;
}
.d2img{
    width: 30px;
}
.d3img{
    width: 30px;
}
.d4img{
    width: 25px;
}
.parent_Thumb_share{
    border-bottom: 2px solid gray;
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
}
.back_button{
    width: 20%;
    height:25px;
    font-size: 18px;
    background-color:rgb(146, 46, 189);
    margin-top: 20px;
    border-radius: 10px;
}
.sticker_Bottom_Border{
    border-bottom: 2px solid rgb(198, 195, 195);
}


    








































@media screen and (min-width:280px) and (max-width:580px){
    .bollywood_Parent{
        position: relative;
        display: flex;
       flex-direction: column;
    }
    .technology_Parent{
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .hollywood_Parent{
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .fitnessData{
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .foodData{
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .dynamic_Related_Footer{
   
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:flex-start;
        margin-top: 5%;
    }
    .advertisement{
       display: none;

    }
    .call_1{
        width: 650px;
    }

    .call_2{
      
        width: 450px;
    }
}