*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}
.parent_The_Serin{
    display:flex;
    justify-content: center;
    margin: 20px 0px 10px 0px;
   
   
}

.the{
    transform: rotate(-90deg);
    font-size: 25px;
    font-style: oblique;
    font-weight: 600;
}
.serin{
    font-size: 40px;
    font-style: oblique;
    font-weight: 800;
}

nav{
    display: flex;
   
}
.my_menu{
    display:block;
        position: absolute;
        top:0.75rem;
        right:0.5rem;
        flex-direction: column;
        justify-content: space-between;
        width:2.25rem;
        height:2rem;

}


.header_Parent{
    display: flex;
       align-items: center;
       justify-content:space-around;
       flex-wrap: wrap;
       background-color: rgb(49, 157, 193);
}
.header_Parent nav a{
    display: block;
      font-size:3vw;
      color:black;
      font-weight: bold;
      padding: 0.5rem;
      text-decoration: none;
}
.header_Parent nav a:hover{
    color:gray;
}
.header_Parent .my_menu{
    display:none;
        position: absolute;
        top:0.75rem;
        right:0.5rem;
        flex-direction: column;
        justify-content: space-between;
        width:2.25rem;
        height:2rem;
}
.my_menu span{
    height: 0.4rem;
        width:100%;
        background-color: black;
        border-radius: 0.2rem;
        position: relative;
    top: 27px;
}
a{
  
    text-decoration: none;
}

.bollywood_Parent{
  
    display: flex;
    justify-content: space-around;
}

.hollywood_Parent{
    display: flex;
    justify-content: space-around;
}

.technology_Parent{
    display: flex;
    justify-content: space-around;
}
.fitnessData{
    display: flex;
    justify-content: space-around;
}

.foodData{
    display: flex;
    justify-content: space-around;
}

.all_Left_Image{
    width:300px;
    height:170px
}
.all_Top_Post_Images{
    width:360px;
    height:210px
}

.right_image{
    width:130px;
}
.image_for_BollyCompo{
    width:130px;
    height:80px
}
.call_1{
   
    width: 650px;
}

    .top_h1{
        margin:10px 0px 40px 0px ;

    }
    .hr{
        width: 75px;
        height: 5px;
        background-color: red;
    }

.childcompo{
    border-bottom: 2px solid #ababab;
    height: 175px;
    width: 630px;
    margin-top: 10px;
    position: relative;
}

.titlediv{
    position: absolute;
    left: 320px;
   
    font-weight: 700;
}

.p1{
    width: 300px;
    height: 30px;
    position: absolute;
    top: 40px;
    left: 320px;
    text-align:start;
}




.call_2{
     
    width: 450px;
}

.right_title{
    position: absolute;
    left: 38%;
}
.right_description{
    
    width: 170px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
   left: 140px;
   top: 50px;
 

}
.left_Div{
    border-bottom:2px solid  #ababab;
    width: 430px;
    height: 120px;
   
}


.top_Post{
    position:absolute;
    font-size: 32px;
    font-weight: bold;
    right:365px;
    top: 136px;

    
}
.latest_post2{
   
    font-size: 14px;
    width:320px;
    text-align:start;
    font-weight: bold;

}
.advertisement{
    border:2px solid black ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    width:335px;
    height: 480px;
    position: absolute;
   
}
.count{
    position:absolute;
    color:  #ababab;
    font-size: 40px;
    top: -10px;
    right: -30px;
    margin-left: 5px;
}
.one{
    display: inline-block;
    color:  #ababab;
    font-size: 40px;
    position:absolute;
    right: 216px;
    top: 470px;
    font-weight: 750;

}
.homeone{
    display: inline-block;
    color:  #ababab;
    font-size: 40px;
    position:absolute;
    right: 210px;
    top: 280px;
    font-weight: 750;
}
.des_Flex{
    display: flex;
}

.navlink{
    text-decoration: none;
    color: black;
}

.home_Header{
    
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.home_Header2{
    display: flex;
    flex-direction: column;
}
.home_flex{
    display: flex;
    justify-content:space-around;
    
}
.the_Latest{

    position:absolute;
    bottom: -100px;
    left:75px;
    font-size: 23px;
}


.home_body{
    width: 350px;
    margin-top: 65px;
}
.latest_For_Home{
    margin-top: 50px;
    margin-left: 30px;
}
.home_img1{
    width:800px;
    height:460px;
    margin-right:65px;
    border-radius:20px
}
.home_img2{
    width:350px;
    height:220px;
    margin-bottom:20px;
    border-radius:20px
}
.home_img3{
    width:350px;
    height:220px;
    border-radius:20px
}
.home_body_img{
    height: 280px;
    width:370px;
    border-radius:15px
}

.home_Title{
    
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  

}
.home_H2{
    position: absolute;
    bottom:-670px; 

    left: 120px;
    font-size: 30px;
    
}
.home_description{

    text-align: center;
}
.home_flex2{
    position: relative;
    margin-top: 70px;
    display: flex;
    justify-content:space-around;
}
.home_top_post{
    position: absolute;
    font-size: 30px;
    bottom:-670px;
   right:300px;
}

/* styling for dynamic compo */


.parent_Of_dynamic{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.subparent_Of_dynamic1{
    width: 496px
}

.title_for_dynamic{
 margin-top: 30px;
  width: 470px;
  font-weight: 900;
}
.image_for_dynamic{
  
width: 450px;

}
.description_for_dynamic{
    width: 450px;
    font-weight: 600;
    margin-left: 10px;
}
.sticker_parent{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sticker{
   
   position: relative;
   right: 120px;
   font-size: 50px;
   background-color:rgb(253, 149, 22) ;
   border-radius: 50%;
   margin: 20px 0px 20px 100px;
}
.name_surname-parent{
   
    position: relative;
   right: 120px;
   font-size: 20px;
   font-weight: 600;
}
.date{
    font-size: 13px;
    opacity: 0.5;
    margin-left: 20px;
}

.dynamic_Related_Footer{
   
    display: flex;
    justify-content: space-evenly;
    align-items:flex-starts;
    margin-top: 5%;
}
.dynamic_Subchild{
   
    width: 380px;
   
}
.title_for_dynamic2{
    width: 300px;
    font-weight: 700;
    
}

.dynamicSpan{
    margin-left: 100px;
    font-size: 20px;
    font-weight: 700;
}
.image_for_dynamic2{
    width: 370px;
    height: 230px;
    border-radius: 15px;
}
.d1img{
    width: 30px;
}
.d2img{
    width: 30px;
}
.d3img{
    width: 30px;
}
.d4img{
    width: 25px;
}
.parent_Thumb_share{
 
    border-bottom: 2px solid gray;
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
   
}
.back_button{
    width: 20%;
    height:25px;
    font-size: 18px;
    background-color:rgb(146, 46, 189);
    margin-top: 20px;
    border-radius: 10px;
}
.sticker_Bottom_Border{
    border-bottom: 2px solid rgb(198, 195, 195);
}


@media screen and (max-width:580px){
    .parent_The_Serin{
        display:flex;
        justify-content: flex-start;
        margin: 20px 0px 10px 0px;
    }
    
    .header_Parent .my_menu{
        display:block;
    }
    .header_Parent.my_menu{
        display:flex;
            flex-direction: column;
            align-items:flex-start;
    }
    .header_Parent{
        display:flex;
            align-items: flex-start;
            flex-direction:column;
            width:100%;
            margin-bottom: 0.2rem
    }
        .header_Parent nav{
            display: none;
          flex-direction: column;
            width: 100%;
            height:  100%;;
            margin-bottom: 0.25rem;
            text-align: center;
        }
        .header_Parent nav.open{
            display: flex;
        }

    .bollywood_Parent{
      align-items: center;
        display: flex;
     
       flex-direction: column;
    }
    .technology_Parent{
        align-items: center;
        
        display: flex;
        flex-direction: column;
    }
    .hollywood_Parent{
        align-items: center;
        display: flex;
     
       flex-direction: column;
    }
    .fitnessData{
        align-items: center;
        display: flex;
     
       flex-direction: column;
    }
    .foodData{
        align-items: center;
        display: flex;
     
       flex-direction: column;
    }
    .dynamic_Related_Footer{
   
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:flex-start;
        margin-top: 5%;
    }
    .advertisement{
       display: none;

    }
    .left_Div{
        border-bottom:2px solid  #ababab;
        width: 290px;
        height: 120px;
       
    }
    .childcompo{
        overflow: hidden;
      
        border-bottom: 2px solid #ababab;
        height: 165px;
        width: 325px;
        margin-top: 10px;
        position: relative;    
    }
    .titlediv{
        position: absolute;
        left: 190px;
        width:140px;
        font-weight: 700;
    }
    
    .p1{
    
        width: 130px;
        height: 30px;
        position: absolute;
        top: 40px;
        left: 190px;
        text-align:start;
    }
    .right_description{
        width: 130px;
        font-size: 14px;
        font-weight: bold;
        position: relative;
       left: 140px;
       top: 50px;
    }
    .all_Left_Image{
        width:170px;
        height:140px
    }
    .all_Top_Post_Images{
        width:295px;
        height:280px;
        border-radius: 10px;
        
    }
    .one{

        display: inline-block;
        color:  #ababab;
        font-size: 40px;
        position:relative;
        left: 275px;
        top: 13px;
    
    }
    .homeone{
        display: inline-block;
        color:  #ababab;
        font-size: 40px;
        position:absolute;
        right: 76px;
        top: 1546px;
        font-weight: 750;
    }
    .call_1{
   
        width: 330px;
    }

    .call_2{
            
        width: 300px;
    }

    /* media query for home.js */
    .home_flex2{
     
      
        position: relative;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-around;
    
    }
    .home_img1{
        
        width:300px;
        height:220px;
        margin-right:0px;
        margin-bottom:15px;
        border-radius:20px
    }
    .home_img2{
        width:300px;
        height:220px;
        margin-bottom:20px;
        border-radius:20px
    }
    .home_img3{
        width:300px;
        height:220px;
        border-radius:20px
    }

    .home_Header{
    
        display: flex;
        flex-direction: column;
        justify-content: center; 
         align-items: center;
        margin-top: 50px;
    }
    .home_Header2{
        display: flex;
        flex-direction: column;
    }
    .home_flex{
         
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .home_body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     
        width: 350px;
        margin-top: 50px;
        text-align: center;
    }
    .home_body_img{
        width:345px;
        height:230px;
        border-radius:15px ;
    }
    .home_Title {
        width: 345px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }
    .home_description {
        width: 345px;
        text-align: center;
    }

    /* media query for dynamic Component */

    .sticker_parent{
       
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .sticker{
      
        position: relative;
        right: 100px;
        font-size: 50px;
        background-color:rgb(253, 149, 22) ;
        border-radius: 50%;
        margin: 20px 0px 20px 100px;
     }

     .name_surname-parent{
       
        position: relative;
       right: 100px;
       font-size: 15px;
       font-weight: 600;
    }
    .subparent_Of_dynamic1{
      
        width: 496px;
    }
    

    .image_for_dynamic{
        width: 380px;
        
        }
        .description_for_dynamic{
            width: 380px;
        }
        .title_for_dynamic{
            margin-top: 30px;
             width: 390px;
             font-weight: 900;
           }
           .dynamic_Related_Footer{
            display: flex;
            align-items: center;
            margin-top: 5%;
        }
        .dynamic_Subchild{
            width: 370px;
        }
        .title_for_dynamic2{
            width: 300px;
            font-weight: 700;
            text-align: center;
            position: relative;
            left: 35px;
            
        }
        .image_for_dynamic2{
            width: 365px;
            height: 230px;
            border-radius: 15px;
        }
        
       
}





/* media query for Tab view */

@media screen and (min-width:581px) and (max-width:825px){

    .parent_The_Serin{
        display:flex;
        justify-content: flex-start;
        margin: 20px 0px 10px 0px;
    }
    .header_Parent .my_menu{
        display:block;
    }
    .header_Parent.my_menu{
        display:flex;
            flex-direction: column;
            align-items:flex-start;
    }
    .header_Parent{
        display:flex;
            align-items: flex-start;
            flex-direction:column;
            width:100%;
            margin-bottom: 0.2rem
    }
        .header_Parent nav{
            display: none;
          flex-direction: column;
            width: 100%;
            height:  100%;;
            margin-bottom: 0.25rem;
            text-align: center;
        }
        .header_Parent nav.open{
            display: flex;
        }
    .bollywood_Parent{
        display: flex;
        justify-content: space-around;
    }
    .technology_Parent{
        display: flex;
        justify-content: space-around;
    }
    .hollywood_Parent{
        display: flex;
        justify-content: space-around;
    }
    .fitnessData{
        display: flex;
        justify-content: space-around;
    }
    .foodData{
        display: flex;
        justify-content: space-around;
    }
    
    .advertisement{
        
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border:2px solid black ;
            margin-top: 10px;
            width:320px;
            height: 428px;
            position: absolute;
           
    }
    
    .childcompo{
        overflow: hidden;
        border-bottom: 2px solid #ababab;
        height: 160px;
        width: 320px;
        margin-top: 10px;
        position: relative;    
    }
    .titlediv{
        position: absolute;
        left: 170px;
        width:130px;
        font-weight: 700;
    }
    
    .p1{
    
        width: 120px;
        height: 30px;
        position: absolute;
        top: 45px;
        left: 170px;
        text-align:start;
    }
    .right_description{
        width: 140px;
        font-size: 14px;
        font-weight: bold;
        position: relative;
       left: 140px;
       top: 50px;
    }
    .all_Left_Image{
        width:160px;
        height:150px
    }
    .all_Top_Post_Images{
        width:320px;
        height:210px;
        border-radius: 10px;
        
    }
    .one{

        display: inline-block;
        color:  #ababab;
        font-size: 40px;
        position:relative;
        left: 280px;
        top: 0px;
       
    
    }
    .call_1{
        width: 340px;
    }

    .call_2{
        width: 330px;
    }
    .latest_post2{
   
        font-size: 14px;
        width:290px;
        text-align:start;
        font-weight: bold;
    
    }
    .image_for_BollyCompo{
        width:110px;
        height:70px
    }
    .right_image{
        width:120px;
        height: 70px;
        
    }
    .count{
        position:absolute;
        color:  #ababab;
        font-size: 40px;
        top: -10px;
        right: -25px;
        margin-left: 5px;
    }

    /* media query for home.js */
    .home_flex2{
   
        position: relative;
        margin-top: 70px;
        display: flex;
        justify-content:space-around;
    
    }
    
    .left_Div{
   
        border-bottom:2px solid  #ababab;
        width: 320px;
        height: 110px;
       
    }
    .home_img1{
        width:380px;
        height:460px;
        margin-right:15px;
        border-radius:20px
    }
    .home_img2{
        width:300px;
        height:220px;
        margin-bottom:20px;
        border-radius:20px
    }
    .home_img3{
        width:300px;
        height:220px;
        border-radius:20px
    }

    .home_Header{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .home_Header2{
        display: flex;
        flex-direction: column;
    }
    .home_flex{
      
        display: flex;
        align-items: center;
        justify-content:center;
        
    }
    .home_body{
    
        width: 250px;
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
    .home_body_img{
        height: 240px;
        width:230px;
        border-radius:15px
    }
    .home_Title{
   
        font-weight: bold;
        text-align: center;
        width: 200px;
        margin-bottom: 20px;
    }
    .home_description{
     
        width: 225px;
        text-align: center;
    }
    .homeone{
        display: inline-block;
        color:  #ababab;
        font-size: 40px;
        position:absolute;
        right: 67px;
    }

    /* media query for dynamic Component */

    .dynamic_Subchild{
      width: 240px;
       
    }

    .dynamic_Related_Footer{
        display: flex;
        justify-content: space-evenly;
        align-items:flex-start;
        margin-top: 5%;
    }
    .sticker_parent{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .sticker{
        position: relative;
        right: 100px;
        font-size: 50px;
        background-color:rgb(253, 149, 22) ;
        border-radius: 50%;
        margin: 20px 0px 20px 100px;
     }

     .name_surname-parent{
     
        position: relative;

        width: 150px;
       right: 100px;
       font-size: 15px;
       font-weight: 600;
    }
    .subparent_Of_dynamic1{
     
        width: 496px;
    }
    .subparent_Of_dynamic2{
       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    

    .image_for_dynamic{
        width: 380px;
        
        }
        .description_for_dynamic{
            width: 380px;
        }
        .title_for_dynamic{
            margin-top: 30px;
             width: 390px;
             font-weight: 900;
           }
           .dynamic_Related_Footer{
          
            display: flex;
            justify-content: space-evenly;
            align-items:flex-starts;
            align-items: center;
           
            margin-top: 5%;
        }
        .title_for_dynamic2{
          
            width: 200px;
            font-weight: 700;
            text-align: center;
            position: relative;
            left: 35px;
            
        }
        .image_for_dynamic2{
            width: 230px;
            height: 230px;
            border-radius: 15px;
        }
        
       


}